<div class="owner-paradise-section section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="sisf-e-media animated rotateInDownLeft">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/pet_owner_img.png" class="w-100" alt="Pawly">
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Section Title Start -->
                <div class="sisf-sis-section-title section-title animated slideInRight">
                    <h2 class="sisf-m-title">
                        Evcil Hayvan Sahiplerinin Cenneti <i class="fa fa-paw"> </i>
                    </h2>
                    <div class="sisf-m-text mb-4">
                        <p>Bize şimdi ve aslan onları zorlasın, onlar da öyle olsunlar ve ya öyle olsunlar ya da öyle olsunlar. Bize şimdi ve aslan onları zorlasın, onlar da öyle olsunlar ve ya öyle olsunlar ya da öyle olsunlar. Bize şimdi ve aslan onları zorlasın, onlar da öyle olsunlar ve ya öyle olsunlar ya da öyle olsunlar.</p>
                    </div>
                    <div class="sisf-m-button">
                        <a href="/Product/Index" class="btn-default sisf-hover-reveal">Alışveriş</a>
                    </div>
                </div>
                <!-- Section Title End -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="sisf-icon-list-item sisf-icon--custom-icon animated slideInRight">
                            <h5 class="sisf-e-title">
                                <span class="sisf-e-title-inner">
                                    <img src="~/petshop/pawly-html.wpthemeverse.com/images/right_mark.png" alt="Pawly">
                                    <span class="sisf-e-title-text ms-4">Kaliteli Ürünler</span>
                                </span>
                            </h5>
                        </div>
                        <div class="sisf-icon-list-item sisf-icon--custom-icon animated slideInRight">
                            <h5 class="sisf-e-title">
                                <span class="sisf-e-title-inner">
                                    <img src="~/petshop/pawly-html.wpthemeverse.com/images/right_mark.png" alt="Pawly">
                                    <span class="sisf-e-title-text ms-4">7/24 Destek</span>
                                </span>
                            </h5>
                        </div>
                        <div class="sisf-icon-list-item sisf-icon--custom-icon animated slideInRight">
                            <h5 class="sisf-e-title">
                                <span class="sisf-e-title-inner">
                                    <img src="~/petshop/pawly-html.wpthemeverse.com/images/right_mark.png" alt="Pawly">
                                    <span class="sisf-e-title-text ms-4">Ücretsiz Kargo</span>
                                </span>
                            </h5>
                        </div>
                        <div class="sisf-icon-list-item sisf-icon--custom-icon animated slideInRight mb-0">
                            <h5 class="sisf-e-title">
                                <span class="sisf-e-title-inner">
                                    <img src="~/petshop/pawly-html.wpthemeverse.com/images/right_mark.png" alt="Pawly">
                                    <span class="sisf-e-title-text ms-4">30 Günlük İade</span>
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-bottom-img wow fadeInUp">
                            <div class="img">
                                <figure>
                                    <img src="~/petshop/pawly-html.wpthemeverse.com/images/pet_owner_img1-1.png" class="w-100" alt="Pawly">
                                </figure>
                            </div>
                            <div class="circle-img">
                                <figure>
                                    <img src="~/petshop/pawly-html.wpthemeverse.com/images/pet_owner_round.png" class="spin-img" alt="Pawly">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>