
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Section Start -->
<div class="sisf-banner position-relative">
    <div class="banner-img">
        <figure>
            <img src="~/petshop/pawly-html.wpthemeverse.com/images/inner-page-banner_img.png" alt="Pawly">
        </figure>
    </div>
    <div class="sisf-page-title sisf-m sisf-title--standard sisf-alignment--center">
        <div class="sisf-m-inner">
            <div class="sisf-m-content sisf-content-grid ">
                <h1 class="sisf-m-title entry-title"> Hakkımızda</h1>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- About Pet Care Section Start -->
<div class="about-pet-care section">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-2">
                <div class="sisf-m-button text-center wow fadeInLeft my-4">
                    <a href="/Contact/Us" class="btn-default sisf-hover-reveal">Bizimle İletişime Geçin</a>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Section Title Start -->
                <div class="sisf-sis-section-title text-center section-title wow zoomIn">
                    <h2 class="sisf-m-title">
                        Tüylü dostunuz için her gün, gün boyu kesintisiz evcil hayvan bakımı! <i class="fa fa-paw"> </i>
                    </h2>
                    <div class="sisf-m-text">
                        <p>Şimdi bize olaylar ve aslanlar onları zorluyor, onlar da öyle ve ya öyle ya da öyle mütevazı. Şimdi bize olaylar ve aslanlar onları zorluyor, onlar da öyle ve ya öyle ya da öyle mütevazı.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="col-md-2">
                <div class="wow fadeInRight text-center my-4">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-top.png" alt="Pawly">
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wow fadeInLeft">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt_img1.png" alt="Pawly">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow zoomIn">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt_img2.png" alt="Pawly">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow fadeInRight">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt_img3.png" alt="Pawly">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Pet Care Section End -->
<!-- Best Product Section Start -->
<div class="best-products section position-relative">
    <div class="container">
        <div class="row">
           
            <div class="col-12">
                <!-- Section Title Start -->
                <div class="sisf-sis-section-title text-center section-title wow zoomIn">
                    <h2 class="sisf-m-title">
                        Evcil Hayvanınız İçin En İyi
                        <br> Ürünleri Sunuyoruz <i class="fa fa-paw"> </i>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="wow fadeInLeft text-center mb-4">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-gromming.png" alt="Pawly">
                    </figure>
                    <div class="box-content">
                        <h5 class="box-title">Bakım</h5>
                    </div>
                </div>
                <div class="wow fadeInLeft text-center mb-4">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-pet_accessories.png" alt="Pawly">
                    </figure>
                    <div class="box-content">
                        <h5 class="box-title">Hijyen Aksesuarları</h5>
                    </div>
                </div>
               
            </div>
            <div class="col-md-6">
                <div class="wow zoomIn text-center position-relative">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-we_are.png" alt="Pawly">
                    </figure>

                    <div class="about-center-img-1">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-we_are_graphic1.png" alt="Pawly">
                        </figure>
                    </div>
                    <div class="about-center-img-2">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-we_are_graphic2.png" alt="Pawly">
                        </figure>
                    </div>
                    <div class="about-center-img-3">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-we_are_graphic3.png" alt="Pawly">
                        </figure>
                    </div>
                    <div class="about-center-img-4">
                        <figure>
                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-we_are_graphic4.png" alt="Pawly">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column align-con justify-content-between">
                <div class="wow fadeInRight text-center">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-hygiene.png" alt="Pawly">
                    </figure>
                    <div class="box-content mt-3">
                        <h5 class="box-title">Hijyen Bakımı</h5>
                    </div>
                </div>
                <div class="wow fadeInRight text-center">
                    <figure>
                        <img src="~/petshop/pawly-html.wpthemeverse.com/images/abt-hygiene1.png" alt="Pawly">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Best Product Section End -->
<!-- Partners Logo Section Start -->

<!-- Partners Logo Section End -->
<!-- Full Width Image Slider Start -->
<h2 class="sisf-m-title text-center mb-3">
   Galerimiz <i class="fa fa-paw"> </i>
</h2>
<div class="full-width-image-gallery">
    <div class="container-fluid">
        <div class="full-width-image-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-6">
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-1.png" alt="Pawly">
                                        </figure>
                                    </div>
                                 
                                </div>
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-4.png" alt="Pawly">
                                        </figure>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-2.png" alt="Pawly">
                                        </figure>
                                    </div>
                                   
                                </div>
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-3.png" alt="Pawly">
                                        </figure>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-5">
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-5.png" alt="Pawly">
                                        </figure>
                                    </div>
                                   
                                </div>
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-6.png" alt="Pawly">
                                        </figure>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="image-full-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-7.png" class="single-image w-100" alt="Pawly">
                                        </figure>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-7">
                                <div class="image-full-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-8.png" class="single-image w-100" alt="Pawly">
                                        </figure>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-9.png" alt="Pawly">
                                        </figure>
                                    </div>
                                  
                                </div>
                                <div class="image-with-content">
                                    <div class="sisf-e-image-holder">
                                        <figure>
                                            <img src="~/petshop/pawly-html.wpthemeverse.com/images/hm5-big-gallery-10.png" alt="Pawly">
                                        </figure>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation Arrows -->
                <div class="swiper-button-prev charvolen-left"></div>
                <div class="swiper-button-next charvolen-right"></div>
            </div>
        </div>
    </div>
</div>

