    <!-- partial:~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Index">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">AnaSayfa</span>
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Product/Index">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
               
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Category/Index">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Kategoriler</span>
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Customer/Index">
                    <i class="mdi mdi-chart-pie menu-icon"></i>
                    <span class="menu-title">Müşteriler</span>
                </a>
            </li>
      
            
       
        <li class="nav-item">
            <a class="nav-link" href="/AdminContact/Index">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/Index">
                <i class="mdi mdi-map menu-icon"></i>
                <span class="menu-title">Sipariş Bilgileri</span>
            </a>
        </li>
       
      
       
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Index/">
                <i class="mdi mdi-key menu-icon"></i>
                <span class="menu-title">Admin İşlemleri</span>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="/Login/LogOut">
                    <i class="mdi mdi-exit-run menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
  
    <!-- main-panel ends -->
